*{
	/* Universal reset: */
	margin:0;
	padding:0;
}

header,footer,
article,section,
hgroup,nav,
figure{
	/* Giving a display value to the HTML5 rendered elements: */
	display:block;
}

body{
	/* Setting the default text color, size, page background and a font stack: */
	font-size:0.825em;
	background-color:#5900b3;
	color:#00ff99;
	font-family:Arial, Helvetica, sans-serif;
}
/* Hyperlink Styles: */

a, a:visited {
	align: center;
	border: 3px solid black;
	color:#0196e3;
	text-decoration:none;
	outline:none;
}

a:hover{
	font-weight: bolder;
}

a img{
	border:none;
	margin-left:-4px;
}

/* Headings: */

h1,h2,h3{
	font-family:"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	text-shadow:0 1px 1px black;
}

h1{
	/* The logo text */
	font-family:"Times New Roman";
	font-size:3.5em;
	padding:0.5em 0 0;
	text-transform:uppercase;
}

h3{
	/* The slogan text */
	font-family:forte,"Myriad Pro","Helvetica Neue",Helvetica,Arial,Sans-Serif;
	font-size:2em;
	font-weight:normal;
	margin:0 0 1em;
}

h2{
	font-size:2.2em;
	font-weight:normal;
	letter-spacing:0.01em;
	text-transform:uppercase;
}
.go_up {
	float: right; 
	padding-right: 10px;  
}
p{
	line-height:1.5em;
	padding-bottom:1em;
	font-size: 15px;
}
.pbold{
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:0.01em;
	text-transform:uppercase;
}

.line{
	/* The dividing line: */
	height:1px;
	background-color:#24404c;
	border-bottom:1px solid #416371;
	margin:1em 0;
	overflow:hidden;
}

article .line{
	/* The dividing line inside of the article is darker: */
	background-color:#15242a;
	border-bottom-color:#204656;
	margin:1.3em 0;
}

footer .line{
	margin:2em 0;
}

nav{
	padding:0 5px;
	position:absolute;
	right:0;
	top:4em;
}

/* The clearfix hack to clear the floats: */

.clear:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* The navigation styling: */

nav ul li{
	display:inline;
}

nav ul li a,
nav ul li a:visited{
	color:white;
	display:block;
	float:left;
	font-size:1.25em;
	font-weight:bold;
	margin:5px 2px;
	padding:7px 10px 4px;
	text-shadow:0 1px 1px white;
	text-transform:uppercase;
}

nav ul li a:hover{
	text-decoration:none;
	background-color:black;
}

nav, article, nav ul li a,figure{
	/* Applying CSS3 rounded corners: */
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

/* Article styles: */

#page{
	width:1080px;
	margin:0 auto;
	position:relative;
}

article{
	background-color:#213E4A;
	margin:3em 0;
	padding:20px;
	
	text-shadow:0 2px 0 black;
}

figure{
	border:3px solid #142830;
	float:right;
	height:300px;
	margin-left:15px;
	overflow:hidden;
	width:500px;
}

figure:hover{
	-moz-box-shadow:0 0 2px #4D7788;
	-webkit-box-shadow:0 0 2px #4D7788;
	box-shadow:0 0 2px #4D7788;
}
/*2-column stylling*/
#image1{
	float:right;	
}

/*3-column styliing */
.column {
  float: left;
  width: 30.33%;
  border-right: 0.1em solid black;
  margin-top:40px;
  margin-left:10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
  border-bottom:0.1em solid black;
}
/* Sub-Topics Heading Styling*/
.heading{
	display:block;
	text-align:center;
	margin-left:auto;
	margin-right:auto;	
}

/*Under-Construction Page styling*/
.broken{
	text-align: center;
}
.return{
	text-align: center;
	font-size: 30px;
}

/* Footer styling: */
footer{
	margin-bottom:30px;
	text-align:center;
	font-size:0.825em;
}
footer p{
	margin-bottom:0em;
	position:relative;
}

footer a,footer a:visited{
	color:#cccccc;
	background-color:#213e4a;
	display:block;
	padding:2px 4px;
	z-index:100;
	position:relative;
	font-size: 20px;
}

footer a:hover{
	text-decoration:none;
	background-color:#142830;
}

footer a.contact{
	width: 100px;
	font-size: 15px;
    top: 50%; 
	left: 45%; 
    }
	
footer #copyright{
	color: black;
	font-size: 25px;
}

#virusfooter{
	float:none;
	margin-top:100px;
}